# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

Footer.css
Header.css
Service.css
Login.css
Signup.css
Footer.jsx
Header.jsx
Service.jsx
Contact.jsx
Login.jsx
Sigup.jsx
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
