.admin-btn{
background: #c8834a;
color:white;
border:none;
padding:10px 20px;
border-radius:4px;
cursor:pointer;
width:120px;
}

.admin-btn:hover{
background:#d28b07;

}

.admin-btn{
    color: #252220;
    
}
.admin-table img{
width:50px;
height:50px;
object-fit:cover;
border-radius:4px;
}